h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'DM Sans', sans-serif;
}

.profilephoto {
    width: 149px;
    height: 149px;
    border-radius: 100px;
}

a {
    width: 50px;
}

.icon-social {
    width: 46px;
    height: 46px;
    text-decoration: none;
}

.section-parcerias {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-parceiro {
    width: 121px;
    height: 121px;
}

h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h5 {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.poke-nordestino {
    display: flex;
    align-items: center;
    background-color: #f1e5cf;
    width: 340px;
    height: 134px;
    border-radius: 20px;
}

.stats-poke {
    padding-left: 2px;
    margin: auto;
    flex-direction: column;
}

.logo-parceiro {
    width: 100px;
    height: 100px;
    padding-left: 12px;
}

.despojada {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    width: 340px;
    height: 134px;
    border-radius: 20px;
}

.stats-despojada {
    padding-left: 2px;
    margin: auto;
    flex-direction: column;
}

button {
    border-radius: 20px;
    background-color: #fed2b2;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    border-color: rgba(0, 0, 0, 0);
    width: 331.874px;
    height: 61.698px;
    font-size: 28px;
}

.title-section {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.saiba-mais {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.section-portfolio {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-portfolio {
    width: 115px;
    height: 201px;
    border-radius: 20px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle-portfolio {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #838383;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.play {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-portfolio:hover .circle-portfolio {
    background-color: #555;
    transform: scale(1.1);
}

.general {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.items-parcerias {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
}

.btns-parceria {
    padding-top: 29px;
}